.header-list .van-tabs--scrollable .van-tab{
  flex: 0 0 20% !important;
}
.header-list .van-switch{
  font-size: 22px !important;
}
.back-bar .van-nav-bar .van-icon,
.back-bar .van-nav-bar__text{
  color: #888888
}